.extra-page{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 75%;
    border: 1px black solid;
}

.page-container{
    padding-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

.club-one{
    object-fit: scale-down;
    height: 375px;
    width: 600px;
}